#countdown{
    direction: rtl;
}

#a {
    text-align: center;
    position: relative;
    top:250px;
}



#start-button{
    position: relative;
    left:750px;
}

#cancel-button{
    position: relative;
    left:595px;
}

#b, #c, #d, #e {
    text-align: center;
    position: relative;
    top: 100px;
    direction: ltr;
}

